<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<div class="flex flex-col items-center" x-data="rangeSlider({{ minMaxPrice.price__min }}, {{ minMaxPrice.price__max }}, {{ minMaxPrice.price__min }}, {{ minMaxPrice.price__max }})">
    <input class="absolute opacity-0 pointer-events-none" 
        type="range" name="price_min" min="{{ minMaxPrice.price__min }}" max="{{ minMaxPrice.price__max }}" :value="min">
    <input class="absolute opacity-0 pointer-events-none" 
        type="range" name="price_max" min="{{ minMaxPrice.price__min }}" max="{{ minMaxPrice.price__max }}" :value="max">

    <div class="flex">
        <span class="flex inline-flex" x-text="`$${min} to $${max}`"></span>
    </div>

    <div class="flex items-center relative rounded bg-gray-300 w-5/6 mx-2 h-1 mt-4" 
        x-ref="sliderEl" 
        @mouseup.window="dragLeft = dragRight = false" 
        @mousemove.window="handleThumbMouseMove($event)" 
        style="user-select: none"
    >
        <div class="absolute h-1 bg-indigo-300" 
            :style="`left: ${(min - rangeMin) * 100 / range}%; right: ${100 - (max - rangeMin) * 100 / range}%`"></div>
        <div class="w-5 h-5 -ml-2 rounded-full bg-indigo-600 absolute cursor-pointer" 
            @mousedown="dragLeft = true" 
            :style="`left: ${(min - rangeMin) * 100 / range}%`" 
            x-ref="minThumb"></div>
        <div class="w-5 h-5 -ml-2 rounded-full bg-indigo-600 absolute cursor-pointer" 
            @mousedown="dragRight = true" 
            :style="`left: ${(max - rangeMin) * 100 / range}%`" 
            x-ref="maxThumb"></div>
    </div>
</div>
<!-- Button -->
<!-- <div class="mx-3 mt-3 flex mx-auto items-center justify-center">
    <a href="#" class="py-1 w-1/4 bg-indigo-500 flex justify-center items-center rounded-lg text-white hover:bg-indigo-600">search</a>
</div> -->

<script>
    function rangeSlider(rangeMin, rangeMax, min, max) {
        return {
            range: rangeMax - rangeMin,
            rangeMin,
            rangeMax,
            min,
            max,
            dragLeft: false,
            dragRight: false,
            
            handleThumbMouseMove: function(e) {
                if (!this.dragLeft && !this.dragRight) return;

                const thumbEl = this.dragLeft ? this.$refs.minThumb : this.$refs.maxThumb;
                
                const sliderRect = this.$refs.sliderEl.getBoundingClientRect();
                
                let r = (e.clientX - sliderRect.left) / sliderRect.width;
                r = Math.max(0, Math.min(r, 1));
                const value = Math.floor(r * this.range + this.rangeMin);

                if (this.dragLeft) {
                    this.min = value;
                    this.max = Math.max(this.min, this.max);
                } else {
                    this.max = value;
                    this.min = Math.min(this.min, this.max);
                }
            }
        };
    }
</script>