<main class="hidden lg:block mx-auto max-w-7xl md:mt-16 lg:mt-20 xl:mt-32 lg:px-8 xl:mt-0">
  <br class="md:hidden">
  <br class="md:hidden">
  <br class="md:hidden">
  <div class="mt-2"></div>


  <div class="sm:text-center lg:text-left hidden md:block">
    <h1 class="md:text-4xl tracking-tight font-extrabold text-gray-900">

      <br class="md:hidden">
      <br class="md:hidden">
      <div class="grid col-span-1 w-full">
        <div class="wrapper flex justify-left items-center">
            <div class="static-txt">We are</div>
            <ul class="dynamic-txts">
                <li><span>sculptors</span></li>
                <li><span>painters</span></li>
                <li><span>earners</span></li>
                <li><span>artists</span></li>
                <li><span>creators</span></li>
            </ul>
        </div>
    </div>

    </h1>
    
  </div>
</main>