{% extends "base.html" %}
{% load static %}
{% block content %}



<section class="text-gray-600 body-font">
    <br class="md:hidden">
    <br class="md:hidden">
    <div class="container px-2 mx-auto"></div>
            <!-- Mobile search -->
            {% include "art_list/art_list_mobile_search.html" %}
        <!-- END Mobile search -->
    


        <!-- Desktop search -->
            {% include "art_list/art_list_desktop_search.html" %}
        <!-- END Desktop search -->
        <br class="md:hidden">
        <br class="md:hidden">
        <div class="flex flex-wrap">

            {% if art %}
                {% for item in art %}
                    <div class="content-div lg:w-1/4 md:w-1/2 px-2 w-full">
                        <a href="{% url 'portfolio:art-detail' item.pk %}" class="block relative h-48 rounded overflow-hidden">
                            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{ item.cover_image.url }}">
                            <div class="opacity-0 hover:opacity-40 duration-300 absolute inset-0 z-10 flex justify-center items-center text-6xl text-white bg-indigo-600 font-semibold"></div>
                        </a>
                        <div class="mb-3">
                            <h2 class="text-gray-900 title-font text-lg font-medium">{{ item.title }}</h2>
                            <h3 class="text-gray-500 text-xs tracking-widest title-font">{{ item.artist }}</h3>
                            <p>${{ item.price }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="content-div lg:w-1/4 md:w-1/2 w-full"></div>
                    <h1 class="mt-6 text-4xl tracking-tight font-extrabold text-indigo-500 sm:text-5xl md:text-6xl">
                        <span class="block xl:inline">This search returned zero results!</span>
                    </h1>
                </div>
            {% endif %}

        </div>
    </div>
</section>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
            <div>
                <h1 class="text-4xl text-gray-800">Artists</h1>

            </div>
            <div>
                <a class="text-gray-500 hover:text-blue-500" href="#">Dummy Button</a>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        {% for portfolio in artists_results %}
            <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-64 overflow-hidden">
                <a href="{% url 'portfolio-detail' portfolio.pk %}">
                    <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1201x501">
                </a>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">{{ portfolio.artist.user.first_name }} {{ portfolio.artist.user.last_name }}</h2>
            <p class="leading-relaxed text-base">{{ portfolio.artist.bio }}</p>
            <!-- <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">
                Button
            </button> -->
            </div>
        {% endfor %}
    </div>
</section>



{% endblock content %}