{% extends "base.html" %}
{% load static %}
{% block content %}



<section class="text-gray-600 body-font">
    <br class="md:hidden">
    <br class="md:hidden">
    <div class="container px-2 mx-auto"></div>
            <!-- Mobile search -->
            {% include "art_list/art_list_mobile_search.html" %}
        <!-- END Mobile search -->
    


        <!-- Desktop search -->
            {% include "art_list/art_list_desktop_search.html" %}
        <!-- END Desktop search -->
        <br class="md:hidden">
        <br class="md:hidden">
        <div class="flex flex-wrap">

            {% if art %}
                {% for item in art %}
                    <div class="content-div lg:w-1/4 md:w-1/2 px-2 w-full">
                        <a href="{% url 'portfolio:art-detail' item.pk %}" class="block relative h-48 rounded overflow-hidden">
                            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{ item.cover_image.url }}">
                            <div class="opacity-0 hover:opacity-40 duration-300 absolute inset-0 z-10 flex justify-center items-center text-6xl text-white bg-indigo-600 font-semibold"></div>
                        </a>
                        <div class="mb-3">
                            <h2 class="text-gray-900 title-font text-lg font-medium">{{ item.title }}</h2>
                            <h3 class="text-gray-500 text-xs tracking-widest title-font">{{ item.artist }}</h3>
                            <p>${{ item.price }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="content-div lg:w-1/4 md:w-1/2 w-full"></div>
                    <h1 class="mt-6 text-4xl tracking-tight font-extrabold text-indigo-500 sm:text-5xl md:text-6xl">
                        <span class="block xl:inline">This search returned zero results!</span>
                    </h1>
                </div>
            {% endif %}

        </div>
    </div>
</section>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
            <div>
                <h1 class="text-4xl text-gray-800">Artists</h1>

            </div>
            <div>
                <a class="text-gray-500 hover:text-blue-500" href="#">Dummy Button</a>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        {% for portfolio in artists_results %}
            <div class="sm:w-1/2 mb-10 px-4">
            <div class="rounded-lg h-64 overflow-hidden">
                <a href="{% url 'portfolio-detail' portfolio.pk %}">
                    <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1201x501">
                </a>
            </div>
            <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">{{ portfolio.artist.user.first_name }} {{ portfolio.artist.user.last_name }}</h2>
            <p class="leading-relaxed text-base">{{ portfolio.artist.bio }}</p>
            <!-- <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">
                Button
            </button> -->
            </div>
        {% endfor %}
    </div>
        <!-- START Medium Meta -->
        <button id="metaMedium" name="collapsibleMetaMediumW" class="collapsible md:hidden inline-flex text-xs" type="button">
            <span>Mediums</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z" />
            </svg>
        </button>
        <div class="contentC leading-none rounded">
                {{ myFilter.form.art_mediums }}
        </div>
        <script>
            var collMeta = document.getElementsByName("collapsibleMetaMediumW");
            var i;
            
            for (i = 0; i < coll.length; i++) {
                collMeta[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                } 
                });
            }
        </script>
        <!-- END Medium Meta -->
        <!-- START Com Meta -->
        <button id="metaCom" name="collapsibleMetaCom" class="collapsible md:hidden inline-flex text-xs text-indigo-200" type="button">
            <span>Communities</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z" />
            </svg>
        </button>
        <div class="contentC leading-none rounded">
            <div class="control">
                {{ myFilter.form.art_communities }}
            </div>
        </div>
        <script>
            var collMeta = document.getElementsByName("collapsibleMetaCom");
            var i;
            
            for (i = 0; i < coll.length; i++) {
                collMeta[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                } 
                });
            }
        </script>
        <!-- END Com Meta -->
        <!-- START Genre Meta -->
        <button id="metaGenre" name="collapsibleMetaGenre" class="collapsible md:hidden inline-flex text-xs text-indigo-200" type="button">
            <span>Genres</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z" />
            </svg>
        </button>
        <div class="contentC rounded mb-2">
            <div class="control py-2">
                {{ myFilter.form.art_genres }}
            </div>
        </div>
        <script>
            var collMeta = document.getElementsByName("collapsibleMetaGenre");
            var i;
            
            for (i = 0; i < coll.length; i++) {
                collMeta[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                } 
                });
            }
        </script>
        <!-- END Genre Meta -->
</section>








  <!-- modal -->



  <dialog id="mymodaltop" class="bg-transparent z-0 relative w-screen h-screen">
      <div class="p-7 flex justify-center items-start overflow-x-hidden overflow-y-auto fixed left-0 top-0 w-full h-full bg-gray-900 bg-opacity-70 z-50 transition-opacity duration-300 opacity-0">
        
        <!-- beginning of adv search -->
        <section class="text-gray-600 body-font">
                <div class="tab-content overflow-hidden leading-normal">
                    <div class="bg-white h-auto rounded-lg h-auto shadow-lg flex grid grid-cols-12">
                        <div class="col-span-1 bg-indigo-500 rounded-l-lg flex items-center justify-center">
                            <h2 class="text-white transform -rotate-90" style="white-space: nowrap;">Advanced Art Search</h2>
                        </div>
                        <div class="col-span-10 border-2 border-indigo-500">
                            <div class="text-center my-6">
                                <h1>*Filter your search down by any criteria</h1>
                            </div>
                            <form class="mx-auto" method="get">
                                <div class="pb-4 flex justify-evenly">
                
                                    <div>
                                        <label class="text-indigo-500 font-bold">Mediums</label>
                                        {{ myFilter.form.art_mediums }}
                                    </div>
                                    <div>
                                        <label class="text-indigo-500 font-bold">Communities</label>
                                        {{ myFilter.form.art_communities }}
                                    </div>
                                    <div>
                                        <label class="text-indigo-500 font-bold">Genres</label>
                                        {{ myFilter.form.art_genres }}
                                    </div>
                                    <div>
                                        <label class="text-indigo-500 font-bold">Price</label>
                                        {{ myFilter.form.price }}
                                    </div>

                                </div>
                                <!-- <input class="w-full rounded outline-none p-2" type="text" placeholder="Try 'southwest' or 'green' or 'horse' etc... " id="myFilter"> -->
                        </div>
                        <div
                            class="button group col-span-1 rounded-r-lg bg-indigo-500 flex items-center justify-center hover:bg-indigo-600"
                        >
                            <button class="flex flex-col transform rotate-90 bg-indigo-500 group-hover:bg-indigo-600 text-white">
                                Search
                            </button >
                        </div>

                            </form>

                    </div> 
                </div>
        </section>

        <!-- end of adv search -->

            <svg onclick="modalClose('mymodaltop')" class="ml-auto fill-current text-white w-8 h-8 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" />
            </svg>
      </div>
  </dialog>
  
  <script>
      function openModal(key) {
          document.getElementById(key).showModal(); 
          document.body.setAttribute('style', 'overflow: hidden;'); 
          document.getElementById(key).children[0].scrollTop = 0; 
          document.getElementById(key).children[0].classList.remove('opacity-0'); 
          document.getElementById(key).children[0].classList.add('opacity-100')
      }
  
      function modalClose(key) {
          document.getElementById(key).children[0].classList.remove('opacity-100');
          document.getElementById(key).children[0].classList.add('opacity-0');
          setTimeout(function () {
              document.getElementById(key).close();
              document.body.removeAttribute('style');
          }, 100);
      }
  </script>
  
  <!-- end of modal -->


</section>
{% endblock content %}