{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="grid grid-cols-3 w-full mt-6">
    
    <div class="grid col-span-3 md:col-span-2 h-full shadow-2xl">
        {% if post.author == request.user %}
            <a href="{% url 'portfolio:post-update' post.slug %}" class="relative block overflow-hidden">
                <img src="{{ post.post_image.url }}" class="object-cover h-96 w-full block" alt="{{ post.title }}-Image">
                <div class="hidden md:flex opacity-0 hover:opacity-80 duration-100 absolute inset-0 z-10 justify-center items-center text-6xl text-white bg-indigo-600 font-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 mr-4 animate-bounce" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                    </svg>
                    <p>Edit Post</p>
                </div>
                <div class="md:hidden opacity-60 absolute bottom-3 right-3 h-8 px-4 rounded-lg w-auto text-lg text-white bg-indigo-600 flex justify-center content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-4 animate-bounce" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                    </svg>
                    <p>Edit Post</p>
                </div>
            </a>
        {% else %}
            <img src="{{ post.post_image.url }}" class="object-cover h-96 w-full block" alt="{{ post.title }}-Image">
        {% endif %}
        <div class="w-full">
            <div class="mx-6 my-6">
                <div class="flex justify-between">
                    <h1 class="text-xl md:text-4xl">{{ post.title }}</h1>
                    <div class="">
                        <a href="#" class="flex inline-flex ml-auto text-indigo-700 bg-indigo-50 hover:bg-indigo-300 border-2 border-indigo-700 p-2 rounded">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
                              </svg>
                        </a>
                        {% if post.author == user %}
                            <a href="{% url 'portfolio:post-delete' post.pk %}" class="flex inline-flex ml-auto text-red-700 bg-red-200 hover:bg-red-300 border-2 border-red-700 p-2 rounded">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% if request.user.is_artist == True %}
                    <a href="{% url 'portfolio-detail' post.author.artist.slug %}" class="flex my-2">
                        <img class="object-cover w-10 h-10 rounded-full mr-4" src="{{ post.author.artist.artist_headshot.url }}" alt="Profile image"/>
                        <div>
                            <p class="">By: {{ post.author }}</p>
                            <small class="text-gray-400 mt-3">{{ post.published }}</small>
                        </div>
                    </a>
                {% else %}
                    <div class="flex my-2">
                        <img class="object-cover w-10 h-10 rounded-full mr-4" src="{{ post.author.user_image.url }}" alt="Profile image"/>
                        <div>
                            <p class="">By: {{ post.author }}</p>
                            <small class="text-gray-400 mt-3">{{ post.published }}</small>
                        </div>
                    </div>
                {% endif %}

                <p class="mt-3">{{ post.text|linebreaksbr }}</p>
                    
                <div class="hidden md:block">
                    <hr class="my-6">
                    <h1 class="text-2xl">Trending ourtsy Posts</h1>
                    <!-- how to set max number of items per row to 4? or go in views and do [0:3] -->
                    <div class="hidden md:flex space-x-4">
                        {% for post in trending_posts %}
                            <div class="flex mt-6 border border-indigo-100 bg-white hover:shadow-2xl">
                                <a href="{% url 'portfolio:post-detail' post.slug %}">
                                    <img class="object-cover w-full h-32" src="{{ post.post_image.url }}" alt="">
                                    <div class="m-2">
                                        <h1>{{ post.title }}</h1>
                                        <div class="flex my-2">
                                            <img class="object-cover w-10 h-10 rounded-full mr-2" src="{{ post.author.artist.artist_headshot.url }}" alt="Profile image"/>
                                            <div>
                                                <p class="">By: {{ post.author }}</p>
                                                <small class="text-gray-400 mt-1">{{ post.published }}</small>
                                            </div>
                                    
                                        </div>
                                        <p class="leading-none mt-2"> {{ post.description|truncatechars:100 }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    
                </div>
                <div class="md:hidden mt-6">
                    <hr>
                    <div>
                        <h1 class="mt-3 text-2xl">About {{ post.author }}</h1>
                        <!-- We may need to add a customer model in the portfolio model.py so they can have a bio area as well -->
                        <p class="text-sm mt-3">{{ post.author.artist.bio }}</p>
                    </div>
                    <div class="mt-6 border-t border-gray-200">
                        <h1 class="mt-3 text-2xl">More Posts From {{ post.author }}</h1>
                        {% for post in authors_posts %}
            
                            <div class="w-full h-auto mt-6 border border-indigo-100 bg-white hover:shadow-2xl">
                                <a href="{% url 'portfolio:post-detail' post.slug %}">
                                    <img class="object-cover w-full h-32" src="{{ post.post_image.url }}" alt="">
                                    <div class="m-2">
                                        <h1>{{ post.title }}</h1>
                                        <small class="text-gray-500">{{ post.published }}</small>
                                        <p class="leading-none mt-2"> {{ post.description|truncatechars:145 }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="">
                        <hr class="my-3">
                        <h1 class="text-2xl">Trending ourtsy Posts</h1>
                        <div class="">
                            {% for post in trending_posts %}
                                <div class="flex mt-6 border border-indigo-100 bg-white hover:shadow-2xl">
                                    <a href="{% url 'portfolio:post-detail' post.slug %}">
                                        <img class="object-cover w-full h-32" src="{{ post.post_image.url }}" alt="">
                                        <div class="m-2">
                                            <h1>{{ post.title }}</h1>
                                            <div class="flex my-2">
                                                <img class="object-cover w-10 h-10 rounded-full mr-2" src="{{ post.author.artist.artist_headshot.url }}" alt="Profile image"/>
                                                <div>
                                                    <p class="">By: {{ post.author }}</p>
                                                    <small class="text-gray-400 mt-1">{{ post.published }}</small>
                                                </div>
                                        
                                            </div>
                                            <p class="leading-none mt-2"> {{ post.description|truncatechars:100 }}</p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden md:grid md:col-span-1 border-l content-start">
        <div>
            <h1 class="ml-6 mt-3 text-2xl">About {{ post.author }}</h1>
            <!-- We may need to add a customer model in the portfolio model.py so they can have a bio area as well -->
            <p class="ml-6 mt-6">{{ post.author.artist.bio }}</p>
        </div>
        <div class="mt-6 border-t border-gray-200">
            <h1 class="ml-6 mt-3 text-2xl">More Posts From {{ post.author }}</h1>
            {% for post in authors_posts %}

                <div class="w-full h-auto ml-6 mt-6 border border-indigo-100 bg-white hover:shadow-2xl">
                    <a href="{% url 'portfolio:post-detail' post.slug %}">
                        <img class="object-cover w-full h-32" src="{{ post.post_image.url }}" alt="">
                        <div class="m-2">
                            <h1>{{ post.title }}</h1>
                            <small class="text-gray-500">{{ post.published }}</small>
                            <p class="leading-none mt-2"> {{ post.description|truncatechars:145 }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}