/* new menu (non tailwind stuff)*/
@media (max-width: 576px) {
  .content {
      padding-top: 20px;
  }
}

@media (min-width: 577px) {
  .pt-scroll {
    padding-top: 20px;
  }

  .nav-sticky {
    position: fixed!important;
    min-width: 100%;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    transition: all .25s ease-in;
    z-index: 1;
  }
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background: #C7D2FE;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: #E0E7FF;
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(-1px);
}

.open .hamburger__top-bun {
  transform:
    rotate(45deg)
    translateY(0px);
}

.open .hamburger__bottom-bun {
  transform:
    rotate(-45deg)
    translateY(0px);
}

/* end of new menu */


/* FOR monile art-List search dropdown --- stealing some css from the forms.css file and bringing them here so I dont have to load two css files on one template */


.collapsible {
  background-color: white;
  color: #4F46E5;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

#metaMedium {
  color: white;
  background-color: #818CF8;
}
#metaCom {
  color: white;
  background-color: #6366F1;
}
#metaGenre {
  color: white;
  background-color: #4F46E5;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible.active:after {
  content: "\2212";
}

.content {
  padding: 0 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-weight: lighter;
  color: white;
  background-color: #6366F1;
  font-size: 12px;
  text-align: left;
}

.contentC {
  padding: 0 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-weight: lighter;
  color: #4338CA;
  background-color: white;
  font-size: 12px;
  text-align: left;
}

/* end of stolen css from form.css FOR monile art-List search dropdown */
