.container {
    width: 60%;
    margin: 5px;
}

.tag-container {
    border: 2px; solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.tag-container .tag {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
}


/* for multi-image form */
.hasImage:hover section {
  background-color: rgba(5, 5, 5, 0.4);
}
.hasImage:hover button:hover {
  background: rgba(5, 5, 5, 0.45);
}

#overlay p,
i {
  opacity: 0;
}

#overlay.draggedover {
  background-color: rgba(255, 255, 255, 0.7);
}

#overlay.draggedover p,
#overlay.draggedover i {
  opacity: 1;
}

.group:hover .group-hover\:text-blue-800 {
  color: #2b6cb0;
}
  
  /* end of image upload style */



  