{% extends "base.html" %}
{% load tailwind_filters %}
{% load widget_tweaks %}


{% block content %}
    <div class="max-w-lg mx-auto mb-2">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block xl:inline">Create new </span>
            <span class="block text-indigo-600 xl:inline">Art</span>
        </h1>
        <hr>
        <form class="mt-4" method="post">
            {% csrf_token %}
            <div class="field mb-2">
                <label class="label">Title*</label>
                <div class="control">
                    {% render_field form.title  class="input w-full py-2 px-6 border-2 border-indigo-100 rounded" %}
                </div>
            </div>
            <div class="field mb-2">
                <label class="label">Price*</label>
                <div class="control">
                    {% render_field form.price  class="input w-full py-2 px-6 border-2 border-indigo-100 rounded" %}
                </div>
            </div>
            <div class="field mb-2">
                <label class="label">Cover Image</label>
                <div class="control">
                    {% render_field form.cover_image  class="input w-full py-2 px-6 border-2 border-indigo-100 rounded" %}
                </div>
            </div>
            <div class="field mb-2">
                <label class="label">
                    Tags 
                    <span class="text-indigo-500 text-sm">
                        (Separate tags with comma)
                    </span>
                </label>
                <div class="control">
                    {% render_field form.tags  class="w-full py-2 px-4 border-2 border-indigo-100 rounded" placeholder="Example: mouse, red, impressionist, southwest, etc..." %}
                </div>
            </div>
            <button type="submit" class="m-2 w-full ml-auto text-white bg-indigo-500 py-2 px-6 hover:bg-indigo-600 rounded">
                Submit
            </button>
        </form>
    </div>
{% endblock content %}