{% extends "base.html" %}
{% load tailwind_filters %}
{% load widget_tweaks %}


{% block content %}
    <div class="max-w-2xl mx-auto mb-2">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block xl:inline">Create new </span>
            <span class="block text-indigo-600 xl:inline">Art</span>
        </h1>
        <hr>
        <form class="mt-4" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field mb-2">
                <label class="label">Cover Image</label>
                <div class="control">
                    {% render_field form.cover_image  class="input w-full py-2 px-6 border-2 border-indigo-100 rounded" %}
                </div>
            </div>
            <div class="grid grid-cols-4">
                <div class="col-span-3 field mb-2 mr-2">
                    <label class="label">Title*</label>
                    <div class="control">
                        {% render_field form.title  class="input w-full py-2 px-6 border-2 border-indigo-100 rounded" %}
                    </div>
                </div>
                <div class="col-span-1 field mb-2">
                    <label class="label">Price*</label>
                    <div class="control rounded border-2 border-indigo-100 relative items-stretch flex flex-wrap mr-2 w-3/4">
                        <div class="flex">
                            <span class="flex items-center leading-normal bg-indigo-50 rounded rounded-r-none px-1 whitespace-no-wrap text-grey-dark text-sm">$</span>
                        </div>				
                        <div class="control" style="width: 60%;">
                            {% render_field form.price  class="input text-center w-full py-2" %}
                        </div>
                        <div class="flex -mr-px">
                            <span class="flex items-center leading-normal bg-indigo-50 rounded rounded-l-none pl-1 whitespace-no-wrap text-grey-dark text-sm">.00</span>
                        </div>	
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-3">
                        
                <div class="col-span-1 field mb-2 mr-1">
                    <label class="label">Mediums</label>
                    <div class="control">
                        {% render_field form.art_mediums type="checkbox" class="w-flex py-2 px-1 border-2 border-indigo-100 rounded" attr="selected" %}
                    </div>
                </div>
                <div class="col-span-1 field mb-2 mr-1">
                    <label class="label">Communities</label>
                    <div class="control">
                        {% render_field form.art_communities type="checkbox" class="w-flex py-2 px-1 border-2 border-indigo-100 rounded" %}
                    </div>
                </div>
                <div class="col-span-1 field mb-2 mr-1">
                    <label class="label">Genres</label>
                    <div class="control">
                        {% render_field form.art_genres type="checkbox" class="w-flex py-2 px-1 border-2 border-indigo-100 rounded" %}
                    </div>
                </div>
            </div>
            <!-- <div class="grid grid-cols-2">
                        
                <div class="col-span-1 field mb-2 mr-1">
                    <label class="label">status</label>
                    <div class="control">
                        {% render_field form.art_status class="w-flex py-2 px-1 border-2 border-indigo-100 rounded" %}
                    </div>
                </div>
                <div class="col-span-1 field mb-2 mr-1">
                    <label class="label">approval</label>
                    <div class="control">
                        {% render_field form.approval_status class="w-flex py-2 px-1 border-2 border-indigo-100 rounded" %}
                    </div>
                </div>
            </div> -->
            <div class="field mb-2">
                <label class="label">
                    Tags 
                    <span class="text-indigo-500 text-sm">
                        (Separate tags with comma)
                    </span>
                </label>
                <div class="control">
                    {% render_field form.tags  class="w-full py-2 px-4 border-2 border-indigo-100 rounded" placeholder="Example: mouse, red, impressionist, southwest, etc..." %}
                </div>
            </div>
            <div class="field mb-2">
                <label class="label">Art Story</label>
                <div class="control">
                    {% render_field form.art_story class="input w-full h-32 py-2 px-6 border-2 border-indigo-100 rounded" placeholder="This is a section where you should give the full background story for this piece of art. Describe the where, why, and when. Tell us your motivations and inspirations." %}
                </div>
            </div>
            <div class="field mb-2">
                <label class="label">Publishing Instructions</label>
                <div class="control">
                    {% render_field form.publish_after_approved type="checkbox" class="w-flex py-2 px-1 border-2 border-indigo-100 rounded" %}

                    <p class="text-xs">* Check this box if you'd like this piece to be published as "For Sale" on the publically viewable site after it is approved.</p>
                    <p class="text-xs">** Otherwise you'll need to switch the piece's status to "For Sale" manually after you're notified of its approval.</p>
                </div>
            </div>

            <button type="submit" class="m-2 w-full ml-auto text-white bg-indigo-500 py-2 px-6 hover:bg-indigo-600 rounded">
                Submit
            </button>
        </form>
    </div>
{% endblock content %}