{% extends "base.html" %}
{% load tailwind_filters %}
{% load widget_tweaks %}


{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-full mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ art }}</h1>
                <div class="flex mb-4">
                    <a href="{% url 'portfolio:art-detail' art.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        Description
                    </a>
                    <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        More from {{ art.artist.user.first_name }} {{ art.artist.user.last_name }}
                    </a>
                    <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">
                        Update
                    </a>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field mb-2">
                        <label class="label">Title</label>
                        <div class="control">
                            {% render_field form.title  class="input w-full py-2 px-6 border-2 border-indigo-100 rounded" %}
                        </div>
                    </div>
                    <div class="field mb-2">
                        <label class="label">price</label>
                        <div class="control">
                            {% render_field form.price  class="input w-full py-2 px-6 border-2 border-indigo-100 rounded" %}
                        </div>
                    </div>
                    <div class="field mb-2">
                        <label class="label">Cover Image</label>
                        <div class="control">
                            {% render_field form.cover_image  class="w-full py-2 px-6 border-2 border-indigo-100 rounded" %}
                        </div>
                    </div>
                    <div class="field mb-2">
                        <label class="label">Tags <span class="text-indigo-500 text-sm">(Separate tags with comma)</span></label>
                        <div class="control">
                            {% render_field form.tags  class="w-full py-2 px-6 border-2 border-indigo-100 rounded" placeholder="test" %}
                        </div>
                    </div>
                    <!-- <input type="text" name="tags" data-role="tagsinput" class="form-control w-full py-2 px-6 border border-gray-300 rounded" id="form" name="tags" placeholder="Add searchable description tags"> -->
                    <button type="submit" class="m-2 w-full ml-auto text-white bg-indigo-500 py-2 px-6 hover:bg-indigo-600 rounded">
                        Update
                    </button>
                    <div class="mt-3">
                        <a href="{% url 'portfolio:art-delete' art.pk %}" class="m-2 w-1/4 ml-auto text-red-600 bg-red-100 border-2 border-red-600 py-2 px-6 hover:bg-red-600 hover:text-white rounded">
                            Delete
                        </a>
                    </div>
                </form>
            </div>
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{ art.cover_image.url }}">
        </div>
        <div class="flex justify-end">
            <div class="lg:w-1/2 w-full flex flex-wrap justify-end">
                {% for tag in tagsList %}
                    <a href="{% url 'portfolio:art-search' tag.name %}" class="bg-indigo-50 p-3 ml-2 mt-2 text-indigo-300 rounded font-medium">
                        <span>#{{ tag }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}