{% extends "base.html" %}
{% load tailwind_filters %}
{% load widget_tweaks %}


{% block content %}

<!-- carousel style -->
<style>
    .carousel-open:checked+.carousel-item {
      position: static;
      opacity: 100;
    }
  
    .carousel-item {
      -webkit-transition: opacity 0.6s ease-out;
      transition: opacity 0.6s ease-out;
    }
  
    #carousel-1:checked~.control-1,
    #carousel-2:checked~.control-2,
    #carousel-3:checked~.control-3,
    #carousel-4:checked~.control-4,
    #carousel-5:checked~.control-5,
    #carousel-6:checked~.control-6,
    #carousel-7:checked~.control-7,
    #carousel-8:checked~.control-8,
    #carousel-9:checked~.control-9,
    #carousel-10:checked~.control-10,
    #carousel-11:checked~.control-11,
    #carousel-12:checked~.control-12,
    #carousel-13:checked~.control-13{
      display: block;
    }
  
    .carousel-indicators {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 2%;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 10;
    }
  
    #carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
    #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
    #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet,
    #carousel-3:checked~.control-4~.carousel-indicators li:nth-child(4) .carousel-bullet,
    #carousel-3:checked~.control-5~.carousel-indicators li:nth-child(5) .carousel-bullet,
    #carousel-3:checked~.control-6~.carousel-indicators li:nth-child(6) .carousel-bullet,
    #carousel-3:checked~.control-7~.carousel-indicators li:nth-child(7) .carousel-bullet,
    #carousel-3:checked~.control-8~.carousel-indicators li:nth-child(8) .carousel-bullet,
    #carousel-3:checked~.control-9~.carousel-indicators li:nth-child(9) .carousel-bullet,
    #carousel-3:checked~.control-10~.carousel-indicators li:nth-child(10) .carousel-bullet,
    #carousel-3:checked~.control-11~.carousel-indicators li:nth-child(11) .carousel-bullet,
    #carousel-3:checked~.control-12~.carousel-indicators li:nth-child(12) .carousel-bullet,
    #carousel-4:checked~.control-13~.carousel-indicators li:nth-child(13) .carousel-bullet {
      color: #ec4a0a;
      /*Set to match the Tailwind colour you want the active one to be */
    }


/* end of carousel */

/* image upload style */
.hasImage:hover section {
  background-color: rgba(5, 5, 5, 0.4);
}
.hasImage:hover button:hover {
  background: rgba(5, 5, 5, 0.45);
}

#overlay p,
i {
  opacity: 0;
}

#overlay.draggedover {
  background-color: rgba(255, 255, 255, 0.7);
}
#overlay.draggedover p,
#overlay.draggedover i {
  opacity: 1;
}

.group:hover .group-hover\:text-blue-800 {
  color: #2b6cb0;
}

/* end of image upload style */



</style>
  

<!-- image upload -->



<!-- image upload end  -->



<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-2 mx-auto">
        <div class="lg:w-full mx-auto flex flex-wrap">
            <div class="lg:w-full w-full lg:pr-10 lg:pb-6 mb-6 lg:mb-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">{{ art.artist.user.first_name }} {{ art.artist.user.last_name }}</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ art }}</h1>
                <div class="flex mb-4">
                    <a href="{% url 'portfolio:art-detail' art.pk %}" class="text-center flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        Description
                    </a>
                    <a href="{% url 'portfolio:art-more' art.pk %}" class="text-center flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        More from {{ art.artist.user.first_name }} {{ art.artist.user.last_name }}
                    </a>
                    <a class="rounded-t bg-indigo-50 text-center flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">
                        Update
                    </a>
                    <a href="{% url 'portfolio:images-update' art.pk %}" class="rounded-t text-center flex-grow border-b-2 border-gray-200 py-2 text-lg px-1">
                        Update Images
                    </a>
                </div>
                <form class="mt-4" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field mb-2">
                        <label class="label">Upload Art Images</label>
                        <div class="control">
                            <input name="images" type="file" multiple class="form-control-file">
                        </div>
                        
                        <!-- <label class="label">Cover Image</label>
                        <div class="control">
                            {% render_field form.cover_image  class="input w-full py-2 px-6 border-2 border-indigo-100 rounded" %}
                        </div> -->
                    </div>

               

   
                    <div class="grid grid-cols-4">
                        <div class="col-span-3 field mb-2 mr-2">
                            <label class="label">Title*</label>
                            <div class="control">
                                {% render_field form.title  class="input w-full py-2 px-6 border-2 border-indigo-100 rounded" %}
                            </div>
                        </div>
                        <div class="col-span-1 field mb-2">
                            <label class="label">Price*</label>
                            <div class="control rounded border-2 border-indigo-100 relative items-stretch flex flex-wrap mr-2 w-3/4">
                                <div class="flex">
                                    <span class="flex items-center leading-normal bg-indigo-50 rounded rounded-r-none px-1 whitespace-no-wrap text-grey-dark text-sm">$</span>
                                </div>				
                                <div class="control" style="width: 60%;">
                                    {% render_field form.price  class="input text-center w-full py-2" %}
                                </div>
                                <div class="flex -mr-px">
                                    <span class="flex items-center leading-normal bg-indigo-50 rounded rounded-l-none pl-1 whitespace-no-wrap text-grey-dark text-sm">.00</span>
                                </div>	
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-4">
                        <div class="col-span-1 field mb-2 mr-1">
                            <label class="label">Mediums</label>
                            <div class="control">
                                {% render_field form.art_mediums type="checkbox" class="w-flex py-2 px-1 border-2 border-indigo-100 rounded" attr="selected" %}
                            </div>
                        </div>
                        <div class="col-span-1 field mb-2 mr-1">
                            <label class="label">Communities</label>
                            <div class="control">
                                {% render_field form.art_communities type="checkbox" class="w-flex py-2 px-1 border-2 border-indigo-100 rounded" %}
                            </div>
                        </div>
                        <div class="col-span-1 field mb-2 mr-1">
                            <label class="label">Genres</label>
                            <div class="control">
                                {% render_field form.art_genres type="checkbox" class="w-flex py-2 px-1 border-2 border-indigo-100 rounded" %}
                            </div>
                        </div>
                        <div class="col-span-1 field mb-2"
                        {% if art.approval_status.name != 'Approved' %}
                        hidden
                        {% endif %}
                        >
                            <label class="label">Status</label>
                            <div class="control">
                                {% render_field form.art_status class="w-flex py-2 px-1 border-2 border-indigo-100 rounded" %}
                            </div>
                        </div>
                    </div>

                    <!-- tags -->
                    <div class="field mb-2">
                        <label class="label">
                            Tags 
                            <span class="text-indigo-500 text-sm">
                                (Separate tags with comma)
                            </span>
                        </label>
                        <div class="control">
                            {% render_field form.tags class="w-full py-2 px-4 border-2 border-indigo-100 rounded" placeholder="Example: mouse, red, impressionist, southwest, etc..." %}
                        </div>
                    </div>
                    <div class="field mb-2">
                        <label class="label">Art Story</label>
                        <div class="control">
                            {% render_field form.art_story class="input w-full h-40 py-2 px-6 border-2 border-indigo-100 rounded" placeholder="test" %}
                        </div>
                    </div>

                    <!-- publish instructions -->
                    {% if art.art_status.name != 'For Sale' %}
                        <div class="field mb-2">
                            <label class="label">Publishing Instructions</label>
                            <div class="control">
                                {% render_field form.publish_after_approved type="checkbox" class="w-flex py-2 px-1 border-2 border-indigo-100 rounded" %}
            
                                <p class="text-xs">* Check this box if you'd like this piece to be published as "For Sale" on the publically viewable site after it is approved.</p>
                                <p class="text-xs">** Otherwise you'll need to switch the piece's status to "For Sale" manually after you're notified of its approval.</p>
                            </div>
                        </div>
                    {% endif %}

                    <!-- submission review section -->
                    {% if user.is_reviewer %}
                        <label class="label">Submission Review</label>
                        <div class="grid grid-cols-2">
                            <div class="col-span-1 field mb-2">
                                {% render_field form.reviewed_by class="w-flex py-2 px-1 border-2 border-indigo-100 rounded" %}
                            </div>
                            <div class="col-span-1 field mb-2">
                                {% render_field form.approval_status class="w-flex py-2 px-1 border-2 border-indigo-100 rounded" %}
                            </div>
                            <div class="col-span-2 field mb-2">
                                {% render_field form.review_note class="input w-full h-28 py-2 px-6 border-2 border-indigo-100 rounded" placeholder="Review Notes" %}
                            </div>
                        </div>
                    {% endif %}
                    <button type="submit" class="m-2 w-full ml-auto text-white bg-indigo-500 py-2 px-6 hover:bg-indigo-600 rounded">
                        Submit
                    </button>
                </form>
            </div>
            
            <!-- <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto w-24 object-contain object-top rounded" src="{{ art.cover_image.url }}"> -->
        </div>
        
    </div>
</section>






<!-- image upload script -->

<script>
    const fileTempl = document.getElementById("file-template"),
      imageTempl = document.getElementById("image-template"),
      empty = document.getElementById("empty");
    
    // use to store pre selected files
    let FILES = {};
    
    // check if file is of type image and prepend the initialied
    // template to the target element
    function addFile(target, file) {
      const isImage = file.type.match("image.*"),
        objectURL = URL.createObjectURL(file);
    
      const clone = isImage
        ? imageTempl.content.cloneNode(true)
        : fileTempl.content.cloneNode(true);
    
      clone.querySelector("h1").textContent = file.name;
      clone.querySelector("li").id = objectURL;
      clone.querySelector(".delete").dataset.target = objectURL;
      clone.querySelector(".size").textContent =
        file.size > 1024
          ? file.size > 1048576
            ? Math.round(file.size / 1048576) + "mb"
            : Math.round(file.size / 1024) + "kb"
          : file.size + "b";
    
      isImage &&
        Object.assign(clone.querySelector("img"), {
          src: objectURL,
          alt: file.name
        });
    
      empty.classList.add("hidden");
      target.prepend(clone);
    
      FILES[objectURL] = file;
    }
    
    const gallery = document.getElementById("gallery"),
      overlay = document.getElementById("overlay");
    
    // click the hidden input of type file if the visible button is clicked
    // and capture the selected files
    const hidden = document.getElementById("hidden-input");
    document.getElementById("button").onclick = () => hidden.click();
    hidden.onchange = (e) => {
      for (const file of e.target.files) {
        addFile(gallery, file);
      }
    };
    
    // use to check if a file is being dragged
    const hasFiles = ({ dataTransfer: { types = [] } }) =>
      types.indexOf("Files") > -1;
    
    // use to drag dragenter and dragleave events.
    // this is to know if the outermost parent is dragged over
    // without issues due to drag events on its children
    let counter = 0;
    
    // reset counter and append file to gallery when file is dropped
    function dropHandler(ev) {
      ev.preventDefault();
      for (const file of ev.dataTransfer.files) {
        addFile(gallery, file);
        overlay.classList.remove("draggedover");
        counter = 0;
      }
    }
    
    // only react to actual files being dragged
    function dragEnterHandler(e) {
      e.preventDefault();
      if (!hasFiles(e)) {
        return;
      }
      ++counter && overlay.classList.add("draggedover");
    }
    
    function dragLeaveHandler(e) {
      1 > --counter && overlay.classList.remove("draggedover");
    }
    
    function dragOverHandler(e) {
      if (hasFiles(e)) {
        e.preventDefault();
      }
    }
    
    // event delegation to caputre delete events
    // fron the waste buckets in the file preview cards
    gallery.onclick = ({ target }) => {
      if (target.classList.contains("delete")) {
        const ou = target.dataset.target;
        document.getElementById(ou).remove(ou);
        gallery.children.length === 1 && empty.classList.remove("hidden");
        delete FILES[ou];
      }
    };
    
    // print all selected files
    document.getElementById("submit").onclick = () => {
      alert(`Submitted Files:\n${JSON.stringify(FILES)}`);
      console.log(FILES);
    };
    
    // clear entire selection
    document.getElementById("cancel").onclick = () => {
      while (gallery.children.length > 0) {
        gallery.lastChild.remove();
      }
      FILES = {};
      empty.classList.remove("hidden");
      gallery.append(empty);
    };
    
</script>


<!-- end of image upload script -->

{% endblock content %}