{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ourtsy</title>
    <link href="{% static 'css/styles.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    
</head>

    <body>
            {% block content %}
            {% endblock content %}
            {% include 'footer.html' %}
        {% include "scripts.html" %}
        <script src="/static/js/script.js"></script>
    </body>


</html>