<!-- This is exactly like base_2 but without a footer -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ourtsy</title>
    <link rel="stylesheet" href="/static/css/new_menu.css" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

    <body>
        {% include 'messages.html' %}
        {% block content %}
        {% endblock content %}
        {% include "scripts.html" %}
        
        
    </body>
    <script src="/static/js/script.js"></script>


</html>