<div class="flex flex-wrap -mx-4 -mb-10 text-center">
    {% for art in object_list %}
        <div class="sm:w-1/2 mb-10 px-4">
        <div class="rounded-lg h-64 overflow-hidden">
            <a href="#">
                <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1201x501">
            </a>
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">{{ art.title }}</h2>
        <p class="leading-relaxed text-base">{{ art.artist }}</p>
        <!-- <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">
            Button
        </button> -->
        </div>
    {% endfor %}
</div>