<div class="flex flex-wrap -mx-4 -mb-10 text-center">
    {% for art in object_list %}
        <div class="sm:w-1/2 mb-10 px-4">
        <div class="rounded-lg h-64 overflow-hidden">
            <a href="#">
                <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1201x501">
            </a>
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">{{ art.title }}</h2>
        <p class="leading-relaxed text-base">{{ art.artist }}</p>
        <!-- <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">
            Button
        </button> -->
        </div>
    {% endfor %}
</div>




<!-- Tag input html/css without any jquery or java  -->


<div class="container border rounded m-6 p-6">
        
    <h1>Enter Meta Tags</h1>
    <input class="flex bg-indigo-100 border-2 border-gray-700 p-2 m-1 focus:outline-none flex-lg-row mb-4 shadow-sm h-md-250" type="text">
    <button class="justify-center p-2 m-1 text-white bg-indigo-600 hover:bg-indigo-700 shadow-lg">
        <div class="flex items-center">
            <span>text</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
            </svg>
        </div>
    </button>
    <button class="justify-center p-2 m-1 text-white bg-indigo-600 hover:bg-indigo-700 shadow-lg">
        <div class="flex items-center">
            <span>text</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
            </svg>
        </div>
    </button>
    <button class="justify-center p-2 m-1 text-white bg-indigo-600 hover:bg-indigo-700 shadow-md">
        <div class="flex items-center">
            <span>text Text Text Text Text</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
            </svg>
        </div>
    </button>

</div>




<button type="submit" class="w-1/4 ml-auto text-white bg-indigo-500 py-2 px-6 hover:bg-indigo-600 rounded">
    update
</button>







<div class="bg-white border-2 border-indigo-500 h-auto rounded-lg h-64 shadow-lg p-4 flex grid grid-cols-12">
    <div class="col-span-1 bg-indigo-50 place-self-stretch text-center">
        <h2 class="bg-gray-100 transform -rotate-90">Advanced Art Search</h2>
    </div>
    <div class="col-span-11 bg-indigo-100">
        <form class="mx-auto" method="get">
            <div class="pb-4 flex justify-evenly">

                <div>
                    <label class="text-indigo-500 font-bold">Mediums</label>
                    {{ myFilter.form.art_mediums }}
                </div>
                <div>
                    <label class="text-indigo-500 font-bold">Communities</label>
                    {{ myFilter.form.art_communities }}
                </div>
                <div>
                    <label class="text-indigo-500 font-bold">Genres</label>
                    {{ myFilter.form.art_genres }}
                </div>
                <button class="transform -rotate-90 bg-indigo-500 hover:bg-indigo-600 rounded text-white p-2 pl-4 pr-4 mt-4">
                    <p class="font-semibold text-sm">Search</p>
                </button >
            </div>
            <!-- <input class="w-full rounded outline-none p-2" type="text" placeholder="Try 'southwest' or 'green' or 'horse' etc... " id="myFilter"> -->

        </form>
    </div>




</div> 










<!-- testffff adv search dropdown -->

<head>
    <title>Tailwind CSS Accordion</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> 
    <style>
       /* Tab content - closed */
       .tab-content {
       max-height: 0;
       -webkit-transition: max-height .35s;
       -o-transition: max-height .35s;
       transition: max-height .35s;
       }
       /* :checked - resize to full height */
       .tab input:checked ~ .tab-content {
       max-height: 100vh;
       }
       /* Label formatting when open */
       .tab input:checked + label{
       /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
       font-size: 1.25rem; /*.text-xl*/
       padding: 1.25rem; /*.p-5*/
       border-left-width: 2px; /*.border-l-2*/
       border-color: #6574cd; /*.border-indigo*/
       background-color: #f8fafc; /*.bg-gray-100 */
       color: #6574cd; /*.text-indigo*/
       }
       /* Icon */
       .tab label::after {
       float:right;
       right: 0;
       top: 0;
       display: block;
       width: 1.5em;
       height: 1.5em;
       line-height: 1.5;
       font-size: 1.25rem;
       text-align: center;
       -webkit-transition: all .35s;
       -o-transition: all .35s;
       transition: all .35s;
       }
       /* Icon formatting - closed */
       .tab input[type=checkbox] + label::after {
       content: "+";
       font-weight:bold; /*.font-bold*/
       border-width: 1px; /*.border*/
       border-radius: 9999px; /*.rounded-full */
       border-color: #b8c2cc; /*.border-grey*/
       }
       .tab input[type=radio] + label::after {
       content: "\25BE";
       font-weight:bold; /*.font-bold*/
       border-width: 1px; /*.border*/
       border-radius: 9999px; /*.rounded-full */
       border-color: #b8c2cc; /*.border-grey*/
       }
       /* Icon formatting - open */
       .tab input[type=checkbox]:checked + label::after {
       transform: rotate(315deg);
       background-color: #e613db; /*.bg-indigo*/
       color: #f8fafc; /*.text-grey-lightest*/
       }
       .tab input[type=radio]:checked + label::after {
       transform: rotateX(180deg);
       background-color: #6574cd; /*.bg-indigo*/
       color: #f8fafc; /*.text-grey-lightest*/
       }
    </style>
 </head>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-2 mx-auto">
       <div class="shadow-md">
          <div class="tab w-full overflow-hidden border-t">
             <!-- RADIO BUTTON THAT ACTIVATES THE OPEN -->
             <input class="absolute opacity-40" id="tab-single-one" type="radio" name="tabs2">
             <!-- border around closed search box  -->
             <label
                  class="block p-5 leading-normal cursor-pointer rounded-lg border-2 border-red-600"
                  for="tab-single-one"
              >
                  <!-- mag glass -->
                  <span class="w-auto flex justify-center items-center text-indigo-500 p-2">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                      </svg>
                  </span>
                  <!-- search input field -->
                  <form method="POST" class="w-full flex justify-left" action="{% url 'portfolio:search-art' %}">
                      {% csrf_token %}
                          <input
                              class="flex w-1/2 rounded-lg outline-none py-2 pl-4 focus:bg-white text-indigo-500"
                              type="text"
                              placeholder="Try 'southwest' or 'green' or 'horse' etc... "
                              name="searched"
                          >
                          <!-- reg search button -->
                          <button class="bg-indigo-500 hover:bg-indigo-600 rounded-l text-white px-4" type="submit">
                                  <p class="font-semibold text-sm">Search</p>
                          </button >
                  </form>
                  <!-- adv search button -->
                  <button
                      class="border-2 border-indigo-500 bg-white hover:bg-indigo-50 rounded-r text-indigo-500 px-4 mr-2"
                      type="submit"
                      style="white-space: nowrap;"
                  >                    
                          <span class="w-auto flex justify-center items-center text-indigo-500 p-2">
                              <span class="mr-2">Advanced Search</span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
                              </svg>
                          </span>
                  </button >
              </label>
                  <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                      <div class="bg-white border-2 border-indigo-500 h-auto rounded-lg h-64 shadow-lg p-4 flex grid grid-cols-12">
                          <div class="col-span-1 bg-indigo-50 place-self-stretch text-center">
                              <h2 class="bg-gray-100 transform -rotate-90">Advanced Art Search</h2>
                          </div>
                          <div class="col-span-11 bg-indigo-100">
                              <form class="mx-auto" method="get">
                                  <div class="pb-4 flex justify-evenly">
                  
                                      <div>
                                          <label class="text-indigo-500 font-bold">Mediums</label>
                                          {{ myFilter.form.art_mediums }}
                                      </div>
                                      <div>
                                          <label class="text-indigo-500 font-bold">Communities</label>
                                          {{ myFilter.form.art_communities }}
                                      </div>
                                      <div>
                                          <label class="text-indigo-500 font-bold">Genres</label>
                                          {{ myFilter.form.art_genres }}
                                      </div>
                                      <button class="transform -rotate-90 bg-indigo-500 hover:bg-indigo-600 rounded text-white p-2 pl-4 pr-4 mt-4">
                                          <p class="font-semibold text-sm">Search</p>
                                      </button >
                                  </div>
                                  <!-- <input class="w-full rounded outline-none p-2" type="text" placeholder="Try 'southwest' or 'green' or 'horse' etc... " id="myFilter"> -->
                  
                              </form>
                          </div>
                      </div> 
                  </div>
          </div>
       </div>
  </div>
</section>

 <script>
    /* Optional Javascript to close the radio button version by clicking it again */
    var myRadios = document.getElementsByName('tabs2');
    var setCheck;
    var x = 0;
    for(x = 0; x < myRadios.length; x++){
        myRadios[x].onclick = function(){
            if(setCheck != this){
                 setCheck = this;
            }else{
                this.checked = false;
                setCheck = null;
        }
        };
    }
 </script>
<!-- test over -->








<!-- imag carousel -->


<head>
    <title>Tailwind CSS Carousel</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  
    <style>
      .carousel-open:checked + .carousel-item {
        position: static;
        opacity: 100;
      }
      .carousel-item {
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
      }
          
      /* #carousel-1:checked ~ .control-1 {
        display: block;
      }
      #carousel-2:checked ~ .control-2 {
        display: block;
      }
      #carousel-3:checked ~ .control-3 {
        display: block;
      } */
  
      {% for val in art_images %}
        carousel-{{ forloop.counter0 }}:checked ~ .control-{{ forloop.counter0 }} {
          display: block;
        }
      {% endfor %}
  
      .carousel-indicators {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
      }
  
      {% for val in art_images %}
        #carousel-{{ forloop.counter0 }}:checked ~ .control-{{ forloop.counter0 }} ~ .carousel-indicators li:nth-child({{ forloop.counter0 }}) .carousel-bullet {
            color: #2b6cb0;  /*Set to match the Tailwind colour you want the active one to be */
          }
      {% endfor %}
    </style>
  
  </head>
  
  
  
  <section class="text-gray-600 body-font overflow-hidden">
  
    <h1>artist: {{ artist }}</h1>
    <h1>art: {{ art }}</h1>
    {% for val in art_images %}
      <h1>art_images: idx:{{ forloop.counter0 }}----val: {{ val }}</h1>
    {% endfor %}
      <div class="container px-5 py-2 mx-auto w-1/2">
  
        <div class="carousel relative shadow-2xl bg-white">
          <div class="carousel-inner relative overflow-hidden w-full">
            {% for x in art_images %}
              <!--Slide 1-->
              <input class="carousel-open" type="radio" id="carousel-{{ forloop.counter0 }}" name="carousel" aria-hidden="true" hidden="" checked="{% if forloop.counter0 == 0 %} checked {% endif %}">
              <div class="carousel-item absolute opacity-0" style="height:50vh;">
                <img alt="ecommerce" class="object-fill h-auto w-full rounded" src="{{ x.image.url }}">
                <!-- <div class="block h-full w-full bg-red-500 text-white text-5xl text-center">Slide 1</div> -->
              </div>
              <label for="carousel-{{ forloop.counter0.first }}" class="prev opacity-75 control-{{ forloop.counter0 }} w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
              <label for="carousel-{{ forloop.counter0.last }}" class="next opacity-75 control-{{ forloop.counter0 }} w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
            {% endfor %}
            
            <!-- Add additional indicators for each slide -->
            <ol class="carousel-indicators">
              {% for x in art_images %}
                <li class="inline-block mr-3">
                  <label for="carousel-{{ forloop.counter0 }}" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
                </li>
              {% endfor %}
            </ol> 
            
          </div>
        </div>
          
  
      </div>
  
  </section>
  
  
  


  <!-- image upload -->



<section class="text-gray-600 body-font overflow-hidden">

    <main class="container mx-auto max-w-screen-lg h-full">
        <!-- file upload modal -->
        <article aria-label="File Upload Modal" class="relative h-full flex flex-col bg-white shadow-xl rounded-md" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event);" ondragenter="dragEnterHandler(event);">
          <!-- overlay -->
          <div id="overlay" class="w-full h-full absolute top-0 left-0 pointer-events-none z-50 flex flex-col items-center justify-center rounded-md">
            <i>
              <svg class="fill-current w-12 h-12 mb-3 text-blue-700" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19.479 10.092c-.212-3.951-3.473-7.092-7.479-7.092-4.005 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408zm-7.479-1.092l4 4h-3v4h-2v-4h-3l4-4z" />
              </svg>
            </i>
            <p class="text-lg text-blue-700">Drop files to upload</p>
          </div>

          <!-- scroll area -->
          <section class="h-full overflow-auto p-8 w-full h-full flex flex-col">
            <header class="border-dashed rounded-lg border-2 border-gray-400 py-12 flex flex-col justify-center items-center">
              <p class="mb-3 font-semibold text-gray-900 flex flex-wrap justify-center">
                <span>Drag and drop your</span>&nbsp;<span>files anywhere or</span>
              </p>
              <input id="hidden-input" type="file" multiple class="hidden" />
              <button id="button" class="mt-2 rounded-sm px-3 py-1 bg-gray-200 hover:bg-gray-300 focus:shadow-outline focus:outline-none">
                Upload a file
              </button>
            </header>

            <h1 class="pt-8 pb-3 font-semibold sm:text-lg text-gray-900">
              To Upload
            </h1>

            <ul id="gallery" class="flex flex-1 flex-wrap -m-1">
              <li id="empty" class="h-full w-full text-center flex flex-col items-center justify-center items-center">
                <img class="mx-auto w-32" src="https://user-images.githubusercontent.com/507615/54591670-ac0a0180-4a65-11e9-846c-e55ffce0fe7b.png" alt="no data" />
                <span class="text-small text-gray-500">No files selected</span>
              </li>
            </ul>
          </section>

          <!-- sticky footer -->
          <footer class="flex justify-end px-8 pb-8 pt-4">
            <button id="submit" class="rounded-sm px-3 py-1 bg-blue-700 hover:bg-blue-500 text-white focus:shadow-outline focus:outline-none">
              Upload now
            </button>
            <button id="cancel" class="ml-3 rounded-sm px-3 py-1 hover:bg-gray-300 focus:shadow-outline focus:outline-none">
              Cancel
            </button>
          </footer>
        </article>
    </main>

    <!-- using two similar templates for simplicity in js code -->
    <template id="file-template">
      <li class="block p-1 w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6 xl:w-1/8 h-24">
        <article tabindex="0" class="group w-full h-full rounded-md focus:outline-none focus:shadow-outline elative bg-gray-100 cursor-pointer relative shadow-sm">
          <img alt="upload preview" class="img-preview hidden w-full h-full sticky object-cover rounded-md bg-fixed" />

          <section class="flex flex-col rounded-md text-xs break-words w-full h-full z-20 absolute top-0 py-2 px-3">
            <h1 class="flex-1 group-hover:text-blue-800"></h1>
            <div class="flex">
              <span class="p-1 text-blue-800">
                <i>
                  <svg class="fill-current w-4 h-4 ml-auto pt-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M15 2v5h5v15h-16v-20h11zm1-2h-14v24h20v-18l-6-6z" />
                  </svg>
                </i>
              </span>
              <p class="p-1 size text-xs text-gray-700"></p>
              <button class="delete ml-auto focus:outline-none hover:bg-gray-300 p-1 rounded-md text-gray-800">
                <svg class="pointer-events-none fill-current w-4 h-4 ml-auto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path class="pointer-events-none" d="M3 6l3 18h12l3-18h-18zm19-4v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.316c0 .901.73 2 1.631 2h5.711z" />
                </svg>
              </button>
            </div>
          </section>
        </article>
      </li>
    </template>

    <template id="image-template">
      <li class="block p-1 w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6 xl:w-1/8 h-24">
        <article tabindex="0" class="group hasImage w-full h-full rounded-md focus:outline-none focus:shadow-outline bg-gray-100 cursor-pointer relative text-transparent hover:text-white shadow-sm">
          <img alt="upload preview" class="img-preview w-full h-full sticky object-cover rounded-md bg-fixed" />

          <section class="flex flex-col rounded-md text-xs break-words w-full h-full z-20 absolute top-0 py-2 px-3">
            <h1 class="flex-1"></h1>
            <div class="flex">
              <span class="p-1">
                <i>
                  <svg class="fill-current w-4 h-4 ml-auto pt-" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M5 8.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5zm9 .5l-2.519 4-2.481-1.96-4 5.96h14l-5-8zm8-4v14h-20v-14h20zm2-2h-24v18h24v-18z" />
                  </svg>
                </i>
              </span>

              <p class="p-1 size text-xs"></p>
              <button class="delete ml-auto focus:outline-none hover:bg-gray-300 p-1 rounded-md">
                <svg class="pointer-events-none fill-current w-4 h-4 ml-auto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path class="pointer-events-none" d="M3 6l3 18h12l3-18h-18zm19-4v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.316c0 .901.73 2 1.631 2h5.711z" />
                </svg>
              </button>
            </div>
          </section>
        </article>
      </li>
    </template>





</section>










<div class="field mb-2">
  <label class="label">Upload Art Images</label>
  <div class="control">
      <input name="images" type="file" multiple class="form-control-file">
  </div>
</div>






<!-- home page custom menu -->
<div>
  <div class="relative pt-3 px-4 sm:px-6 lg:px-8">
    <nav class="relative flex items-left justify-between sm:h-10 lg:justify-start" aria-label="Global">
      <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-left">
        <a href="{% url 'portfolio:landing-page' %}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 md:w-10 md:h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <span class="ml-3 text-l text-xl">ourtsy</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
          {% if not request.user.is_authenticated %}
            <a href="{% url 'signup' %}" class="mr-5 hover:text-gray-900">Signup</a>
          {% else %}
            <a href="{% url 'portfolio:art-list' %}" class="mr-5 hover:text-gray-900">Art</a>
            {% if request.user.is_organizer %}
              <a href="{% url 'portfolio:artist-list' %}" class="mr-5 hover:text-gray-900">Artists</a>
            {% endif %}
          {% endif %}
        </nav>
        {% if request.user.is_authenticated %}
          {% if request.user.is_artist %}
            <a
              href="{% url 'portfolio:art-dashboard' %}"
              class="ml-3 inline-flex items-center text-gray-50 bg-indigo-500 border-0 py-1 px-3 hover:bg-indigo-600 rounded text-base mt-4 md:mt-0"
            >
              {{ request.user.username }}
            </a>
          {% else %}
            <a
              href="{% url 'user-profile' request.user.userprofile.slug %}"
              class="ml-3 inline-flex items-center text-gray-50 bg-indigo-500 border-0 py-1 px-3 hover:bg-indigo-600 rounded text-base mt-4 md:mt-0"
            >
              *{{ request.user.username }}
            </a>
          {% endif %}
          <a href="{% url 'logout' %}" class="ml-3 inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-indigo-50 rounded text-base mt-4 md:mt-0">
            Logout
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
          </a>
        {% else %}
        <a href="{% url 'login' %}" class="inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-indigo-50 rounded text-base mt-4 md:mt-0">
            Login
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </a>
        {% endif %}
      </div>
    </nav>
  </div>

  <!--
    Mobile menu, show/hide based on menu open state.

    Entering: "duration-150 ease-out"
      From: "opacity-0 scale-95"
      To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
      From: "opacity-100 scale-100"
      To: "opacity-0 scale-95"
  -->
  <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right hidden">
    <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
      <div class="px-5 pt-4 flex items-center justify-between">
        <div>
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
        </div>
        <div class="-mr-2">
          <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only">Close main menu</span>
            <!-- Heroicon name: outline/x -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
      <div class="px-2 pt-2 pb-3 space-y-1">
        {% if not request.user.is_authenticated %}
          <a href="{% url 'signup' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Signup</a>
        {% else %}
          <a href="{% url 'portfolio:art-list' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Art</a>

          <a href="{% url 'leads:lead-list' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Leads</a>
          
          <a href="{% url 'agents:agent-list' %}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Agents</a>
        {% endif %}
      </div>
        {% if request.user.is_authenticated %}
          <a
            href="{% url 'portfolio:art-dashboard' %}"
            class="block w-full px-5 py-3 text-center font-medium text-gray-50 bg-indigo-600 hover:bg-gray-100"
          >
            Welcome, {{ request.user.username }}
          </a>

      <a href="{% url 'logout' %}" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100">
        Logout
      </a>
        {% else %}
      <a href="{% url 'login' %}" class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100">
        Login
      </a>
        {% endif %}
    </div>
  </div>
</div>
<!-- END home page custom menu -->




<!-- mobile home accordion filtersearch  -->

<div id="landingSearchMenu" class="w-full self-end text-indigo-500 sm:self-center sm:flex flex-col sm:flex-row items-center h-full py-1 pb-4 sm:py-0 sm:pb-0 hidden divide-y divide-indigo-50">
  <button id="landingMediumMenuBtn" class="text-indigo-500 bg-indigo-50 text-lg w-full no-underline sm:w-auto sm:pr-4 py-2 sm:py-1 sm:pt-2" type="button" onclick="landingMediumToggle();">
    Mediums
  </button>
  <div id="landingMediumMenu" class="w-full bg-indigo-50 sm:flex grid grid-cols-2 items-left pl-2 h-full py-1 pb-4 sm:py-0 sm:pb-0 hidden divide-y divide-indigo-100">
    {{ myFilter.form.art_mediums }}
  </div>
  <button id="comMenuBtn" class="border border-indigo-100 bg-indigo-200 py-2 px-2 focus:outline-none w-full" type="button" onclick="navComToggle();">
    Communities
  </button>
  <div id="comMenu" class="w-full bg-indigo-50 sm:w-auto sm:flex grid grid-cols-2 items-left pl-2 h-full py-1 pb-4 sm:py-0 sm:pb-0 hidden divide-y divide-indigo-100">
    <div>
      {{ myFilter.form.art_communities }}
    </div>
  </div>
  <button id="genreMenuBtn" class="border border-indigo-100 bg-indigo-300 py-2 px-2 focus:outline-none w-full" type="button" onclick="navGenreToggle();">
    Genres
  </button>
  <div id="genreMenu" class="w-full bg-indigo-50 sm:w-auto sm:flex flex-col sm:flex-row items-left pl-2 h-full py-1 pb-4 sm:py-0 sm:pb-0 hidden divide-y divide-indigo-100">
    {{ myFilter.form.art_genres }}
  </div>
  <button class="border border-indigo-600 bg-white py-2 px-2 focus:outline-none w-full content-center flex justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-600 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
    </svg>
    <span>Submit</span>
  </button>
</div>



<!-- mobile home accordion filtersearch END -->






<!-- login -->

<div class="max-w-lg mx-auto">
  <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type='submit' class="w-full bg-indigo-500 hover:bg-indio-600 px-3 py-3 text-white rounded-md mb-2">
          Login
      </button>
      <a href="{% url 'reset-password' %}">Forgot password?</a>
  </form>
</div>


<!-- end -->