<section class="w-full border-t border-indigo-600">
    <div class="grid grid-cols-1 h-96 w-full py-3 md:py-12">
            <div class="relative rounded-lg flex flex-col md:flex-row items-center md:shadow-xl hover:shadow-2xl w-full">
              <div class="z-0 order-1 md:order-2 relative w-full h-56 md:h-full overflow-hidden rounded-lg md:rounded-none md:rounded-r-lg">
          
                  <div class="absolute inset-0 w-full h-full object-fill object-center bg-cover bg-bottom" style="background-image: url( '{{ art.artist.studio_image.url }}' ); background-blend-mode: multiply;"></div>
                  
                  <div class="md:hidden absolute inset-0 h-full p-3 md:p-6 flex flex-col-reverse justify-start items-start bg-gradient-to-b from-transparent via-transparent to-gray-900">
  
                    <a href="{% url 'portfolio-detail' art.artist.slug %}" class="flex items-center space-x-4">
                      <img class="h-10 w-10 rounded-full" src="{{ art.artist.artist_headshot.url }}" alt="" />
                      <h1 class="text-xs text-white font-bold">{{ art.artist.user.first_name }} {{ art.artist.user.last_name }}</h1>
                    </a>
                    <div class="w-full text-xs text-gray-100 mt-3 mb-1 items-center">
                      {% for tag in art.artist.art_mediums.all|slice:":1" %}
                          <a href="{% url 'portfolio:art-search' tag.name %}" class="bg-indigo-600 bg-opacity-40 px-2 py-1 text-white rounded font-small mr-1 leading-loose">
                              <span>{{ tag }}</span>
                          </a>
                      {% endfor %}
                      {% for tag in art.artist.art_communities.all|slice:":1" %}
                          <a href="{% url 'portfolio:art-search' tag.name %}" class="whitespace-nowrap bg-indigo-600 bg-opacity-40 px-2 py-1 text-white rounded font-small mr-1 leading-loose">
                              <span>{{ tag }}</span>
                          </a>
                      {% endfor %}
                      {% for tag in art.artist.art_genres.all|slice:":1" %}
                          <a href="{% url 'portfolio:art-search' tag.name %}" class="whitespace-nowrap bg-indigo-600 bg-opacity-40 px-2 py-1 text-white rounded font-small mr-1 leading-loose">
                              <span>{{ tag }}</span>
                          </a>
                      {% endfor %}
                    </div>
                      <!-- <a class="" href="#">
                        <img class="inline object-cover w-12 h-12 mr-2 rounded-full" src="{{ artist.artist_headshot.url }}" alt="Profile image"/>
  
                        <h3 class="w-full font-bold text-sm md:text-2xl text-white leading-tight right-0">{{ artist.user.first_name }} {{ artist.user.last_name }}</h3>
                      </a> -->
                      
                  </div>
                  <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-white -ml-12" viewBox="0 0 100 100" preserveAspectRatio="none">
                      <polygon points="50,0 100,0 50,100 0,100" />
                  </svg>
                    <p class="text-gray-600 text-sm mt-3">{{ art.artist.bio }}</p>
                    <a class="flex w-1/2 items-baseline mt-3 text-white bg-indigo-500 hover:bg-indigo-600 py-3 px-6 rounded-lg" href="#####">
                        <span>Read our profile of {{ art.artist.user.first_name }} {{ art.artist.user.last_name }}</span>
                        <span class="text-xs ml-1">&#x279c;</span>
                    </a>
              </div>
              <!-- artists cards desktop -->
              <div class="z-10 order-2 md:order-1 w-full h-full flex items-center -mt-6 md:mt-0 hidden md:block">
                  <div class="p-8 lg:pl-5 lg:pr-0 lg:pl-5 lg:py-5 md:py-5 mx-2 md:mx-0 h-full rounded-l-lg">
                        <div class="flex w-full">
                            <a href="{% url 'portfolio-detail' art.artist %}" class="relative hidden w-16 h-16 mr-3 mb-3 rounded-full md:block">
                                <img class="object-cover w-16 h-16 rounded-full" src="{{ art.artist.artist_headshot.url }}" alt="" loading="lazy">
                                <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                            </a>
                            <div class="w-10/12 pl-4 mb-4">
                                {{ art.artist.user.first_name }} {{ art.artist.user.last_name }}
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden xl:inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <div class="text-xs text-gray-100 mt-3 mb-1 items-center">
                                    {% for tag in art.artist.art_mediums.all|slice:":1" %}
                                        <a href="{% url 'portfolio:art-search' tag.name %}" class="bg-indigo-100 bg-opacity-40 px-2 py-1 text-indigo-600 rounded font-small mr-1 leading-loose">
                                            <span>{{ tag }}</span>
                                        </a>
                                    {% endfor %}
                                    {% for tag in art.artist.art_communities.all|slice:":1" %}
                                        <a href="{% url 'portfolio:art-search' tag.name %}" class="whitespace-nowrap bg-indigo-100 bg-opacity-40 px-2 py-1 text-indigo-600 rounded font-small mr-1 leading-loose">
                                            <span>{{ tag }}</span>
                                        </a>
                                    {% endfor %}
                                    {% for tag in art.artist.art_genres.all|slice:":1" %}
                                        <a href="{% url 'portfolio:art-search' tag.name %}" class="whitespace-nowrap bg-indigo-100 bg-opacity-40 px-2 py-1 text-indigo-600 rounded font-small mr-1 leading-loose">
                                            <span>{{ tag }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <p class="text-gray-600 text-sm mt-3">{{ art.artist.bio }}</p>
                        <div class="flex m-3 w-10/12">
                            <a class="flex-1 text-indigo-600 border border-indigo-600 px-6 py-2 rounded-lg hover:bg-indigo-400 hover:bg-opacity-25 mr-2 text-center" href="{% url 'portfolio:post-detail'  artists_featured_post.first.slug %}">Read Our Interview</a>
                            <a class="flex-1 text-white bg-indigo-500 px-6 py-2 rounded-lg hover:bg-indigo-600 text-center" href="{% url 'portfolio-detail' art.artist.slug %}">View {{ art.artist.user.first_name }}'s Work</a>
                        </div>
                  </div>
              </div>
            </div>
        <div class="md:hidden">
            <p class="text-gray-600 text-sm m-3">{{ art.artist.bio }}</p>
            <a class="flex justify-between w-full items-baseline mt-3 text-white bg-indigo-500 hover:bg-indigo-600 py-3 px-6" href="{% url 'portfolio:post-detail'  artists_featured_post.first.slug %}">
                <span>Read our profile of {{ art.artist.user.first_name }} {{ art.artist.user.last_name }}</span>
                <span class="text-xs ml-1">&#x279c;</span>
            </a>
        </div>
    </div>
</section>